.comment{
  padding-block-start: 5rem;
  padding-block-end: 5rem;
  margin-inline-start: .70rem;
  margin-inline-end: .70rem;
  margin-block-start: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(1.5rem);
  border-radius: 1.5rem;
  border: 1px inset var(--white);

}

.comment-image {
  inline-size: 4rem ;
  block-size: 4rem;
  object-fit: cover;
}

.comment-text{
  font: var(--textBold);
  display: block;
  text-align: center;
  margin: 0;
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;


}


.comment-text p span:nth-of-type(2) {
  font: var(--headline5);
  opacity: .5;
  display: block;
  margin-block-start: 1.5rem;
}