@import "./button.css";
@import "./header.css";
@import "./button-icon.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./description.css";
@import "./comment.css";
@import "./testimony.css";

:root{
  --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747de9 0%, rgba(255, 255, 255, 0) 100%),
   linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
  --baseFont: 'Poppins', sans-serif;
  --oxygen: 'Oxygen', sans-serif;
  --headline1: bold 95px/153.71px var(--baseFont) ;
  --headline2: bold 59px/95px var(--baseFont) ;
  --headline3: bold 48px/77px var(--baseFont) ;
  --headline4: bold 34px/55px var(--baseFont) ;
  --headline5: bold 24px/39px var(--baseFont) ;
  --body1: normal 16px/26px var(--baseFont) ;
  --body2: normal 14px/22px var(--baseFont) ;
  --text: normal 34px/55px var(--oxygen) ;
  --textBold: bold 34px/55px var(--oxygen) ;
  --button: bold 14px/22px var(--baseFont) ;
  --caption: normal 12px/19px var(--baseFont) ;
  --purple: #310A90;
  --green: #42E2B8;
  --white: #FFFFFF;



}

body{
  background:var(--gradient);
  min-block-size: 100vh;
  font-family: var(--headline1);
  color: var(--purple);
}

