.testimony{
  border: 1px solid red;
  display: flex;
}

.testimony-description{
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  order: 1;
  gap: 1rem;

}
.testimony-page{
  background-color: var(--purple);
  max-inline-size: 399px;
}

.testimony-page a{
    font: var(--headline4);
    text-decoration: none;
    color: var(--white);
}

.testimony-a{
  display: flex;
  justify-content: space-between;
  max-inline-size: 331px;
  border: 0;
}

.testimony-image{
  order: 2;
}
